/server/__pycache__
/server/cert.pem
/server/key.pem
/server/keys/cert.pem
/server/keys/key.pem
/server/controllers/__pycache__
/server/handlers/__pycache__
/server/client
/server/state_changes.json
/server/data.json
/client/android
/client/build.zip